body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    margin: 0;
    padding: 0;
    text-align: center;
}

header {
    padding: 20px;
    color: #444;
}

.carousel-container {
    position: relative;
    max-width: 800px;
    margin: auto;
    overflow: hidden;
    background: #f2f2f2;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

.carousel-slide {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.carousel-img {
    width: 100%;
    flex-shrink: 0;
    border-radius: 10px;
}

/* Botones */
.carousel-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(255, 255, 255, 0.8);
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 30px;
    color: #333;
    z-index: 1;
    border-radius: 50%;
    user-select: none;
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}

.carousel-btn:hover {
    background-color: #ddd;
}
